In [2]:
import pandas as pd

### Reading files
In pandas reading files used `pd.read_'type of file'` i.e.. pd.read_csv(filename):

In [3]:
cast = pd.read_csv(r'C:\Users\chira\Desktop\Pysquad\Pandas\pythondsp-pandasguide-b936c3b43406\data\cast.csv', index_col=None)

In [4]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
titles = pd.read_csv(r'C:\Users\chira\Desktop\Pysquad\Pandas\pythondsp-pandasguide-b936c3b43406\data\titles.csv')

In [6]:
titles.head()
titles.tail()

                      title  year
49995                 Rebel  1970
49996               Suzanne  1996
49997                 Bomba  2013
49998  Aao Jao Ghar Tumhara  1984
49999            Mrs. Munck  1995

* `read_csv` : read the data from the csv file.
* `index_col` = None : there is no index i.e. first column is data
* `head()` : show only first five elements of the DataFrame
* `tail()` : show only last five elements of the DataFrame

In [ ]:
titles

* `len` : `‘len’` commmand can be used to see the total number of rows in the file,

In [ ]:
len(titles)

In [ ]:
titles.head(10)

In [ ]:
t = titles['title']

In [ ]:
t.head()

### Filter Data
Data can be filtered by providing some boolean expression in DataFrame.

In [ ]:
after20 = titles[titles['year'] > 2000]

In [ ]:
after20.head()

In [ ]:
t = titles
movies90 = t[(t['year'] >= 1990) & (t['year'] < 2000)]
movies90.head()

### Sorting
`Sorting` can be performed using `‘sort_index’` or `‘sort_values’` keywords:

In [ ]:
t = titles
macbeth = t[t['title'] == 'Macbeth']
macbeth

In [ ]:
macbeth = t[t['title'] == 'Macbeth'].sort_index()
macbeth

### To sort the data by values, the `‘sort_value’` option can be used.

In [ ]:
macbeth = t[t['title'] == 'Macbeth'].sort_values('year')
macbeth

### Null values
Note that, various columns may contains no values, which are usually filled as NaN.

In [ ]:
cast.head()

`‘isnull’` command returns the true value if any row of has null values. Since the rows 3-4 has NaN value,
therefore, these are displayed as True.

In [ ]:
c = cast
c['n'].isnull().head()

`‘notnull’` is opposite of isnull, it returns true for not null values:

In [ ]:
c['n'].notnull().head()

In [7]:
cast.index

RangeIndex(start=0, stop=75001, step=1)

In [8]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

### String operations
Various string operations can be performed using `‘.str.’` option.

In [ ]:
t = titles
t[t['title'] == 'Maa']

In [ ]:
t[t['title'].str.startswith('Maa ')].head()

### Count Values
Total number of occurrences can be counted using `value_counts()` option:

In [ ]:
a= t['year'].value_counts()

In [ ]:
a

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
t = titles
p = t['year'].value_counts()
p.plot()
plt.show()

In [ ]:
p.sort_index().plot()
plt.show()

In [12]:
cast.index.is_integer

True

In [9]:
cast.index.dtype

dtype('int64')